<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869064313735-2chdlklhtb9gmbq2nmt4kg65g7nb4lom.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869064313735-2chdlklhtb9gmbq2nmt4kg65g7nb4lom</string>
	<key>API_KEY</key>
	<string>AIzaSyBoM35GV363wSSQW6zNAWdkvFzxLRnRQuI</string>
	<key>GCM_SENDER_ID</key>
	<string>869064313735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.nea</string>
	<key>PROJECT_ID</key>
	<string>test-1-23667</string>
	<key>STORAGE_BUCKET</key>
	<string>test-1-23667.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869064313735:ios:56fdca3d26fe4701f4a122</string>
</dict>
</plist>